<div class="container">
    <div class="newshot">
        <h3>What are you working on?</h3>   
        <div id= "mm" class="row">
            <div class ="col-12">
                <%= render 'form', shot: @shot %>
            </div>
        </div>
    </div>
</div>

