/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require font-awesome
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap/glyphicons';
 @import "font-awesome";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
background-color: rgb(252, 252, 252);
}




.navnav{
    background-color:black;
height: 50px;
margin-top:-16px;
}






.btn-default{
    background-color:rgb(255, 8, 222);
    height: 35px;
    color: white;
    padding: 4px;
}




.signup {
    background-color: rgb(245, 244, 244);
    width: 50%;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}



.newshot{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
h3{
    text-align: center;
}
}


.indexitems{
background-color: red;
width: 100%;
}

.index{
    background-color: rgb(231, 231, 238);
    margin: 10px;
    height: min-content;
    border-radius: 5px;
    padding: 14px;
width: min-content;
text-align: right;

}
#indexleft{
margin-left: auto;
margin-right: auto;
width: 87.5%;
}



.show{
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
background-color: rgb(2, 2, 2);


}

.showbutt{
    margin-top: 20px;


}

.showdetails{
    margin-top: 20px;
    background-color: white;
    padding: 20px;

}



.showpadding{
    padding: 40px;
    width: min-content;
    background-color: rgb(255, 255, 255);
    float: left;
}



.count{
    padding: 20px;
}




.btn-basic{

    background-color: rgb(240, 240, 240);
}

.showfloat{
    display: absolute;
float: left;
margin-left: 60px;    
border: 1px solid black;
width: 20%;
  th{
        border: 1px solid black;
        padding: 10px;
    }
    
}

.domain{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px;
    width: 24%;
    color: white;
    font-weight: 300;
    font-size: 36px;
    background-color: black;


}

.hero-info{
width: 80%;
 display: flex;
 height: 100px;
 margin-top: 80px;

}


.hero-items{
    border-radius: 5px;
    height: 50px;
    margin: 5px;
    padding: 20px;
    font-size: medium;
    color: white;
    background-color: rgb(228, 12, 43);
    display: flex;
    justify-content: center;
    align-items: center;
}


.help{
color: white;
width:80% ;
font-weight: 300;
font-size: 70px;
margin-top: 60px;
}



.btn-link{
background-color: rgb(255, 116, 243);
color: rgb(255, 255, 255);
width: 90px;
height: 30px;
padding: 3px;
margin-top: 4px;

}


.user-comment{
    border-radius: 5px;
margin: 30px;
padding: 20px;
box-shadow: 1px 1px 2px 2px rgb(196, 196, 196);
background-color: white;
}

.form-comment{
    width: 100%;
    padding: 30px;
h4{
height: 80px;
box-shadow: 0px 2px 0px 0px rgb(196, 193, 193);
    }
}

.star{
width: 100%;
height: 500px;
display: flex;
}


.star-text{
    padding-right:50px ;
    color: white;
    width: 44%;
    padding: 10px;


}


.twitter {
    height: 25px;
    margin-left: 20px;
    margin-top: 10px;
}


.fb{
    height: 25px;
    margin-top: 10px;


}

.call, .email{
    height: 50px;
    width: 200px;
    border: solid 1px white;
    border-radius: 4px;
}

.star-images{
    margin-top: 104px;
    width: 50%;
    height: 230px;
    border: rgb(25, 0, 255) 1px solid;
}

.info-us{
    display: flex;
    width: auto;
    justify-content: space-between;
    margin-top: 37px;
}
.call, .email{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail{
    height: 23px;
    padding-right: 5px;
}



.property-back{
    background-image:  url(/assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    bottom: 27px;
    height: 150vh;
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
    padding-top: 80px;
    padding-left: 100px;

}

.amenities{
width: auto;    
margin: auto;
padding: 13px;
font-size: 15px;
}


.bed{
 height: 10px;
    width: 10px;
}


.properties{
    display: flex;
    width: 90%;
    justify-content: space-between;
    flex-flow: wrap;
    margin: auto;
    


}


.property{
    border: rgb(235, 235, 235) 1px solid;
    box-shadow: rgb(231, 231, 231) 1px 1px 4px 4px;
    width: 23%;
    margin-left: auto;
    margin-right: auto;
    height: min-content;
}
.properties img{
    width: 100%;
    height: 200px;

}




.alert{

    margin: 0;
    padding: 0;
}